body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;;
    background-color: #F6F7EB;
    color: #0c0c0c;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #BB0A21;
    color: #F6F7EB;
    text-shadow: 1px 1px 1px #0c0c0c;
}

a {
    text-decoration: none;
    color: #F6F7EB;
    text-shadow: 1px 1px 1px #0c0c0c;
    transition: all .25s ease-in-out;
}

a:hover {
    color: #FE7F2D;
    font-style: italic;
}

main {
    width: 760px;
    margin: 0 auto;
    text-align: center;
}

.answer-list {
   padding-inline-start: 0; 
}

.answer-list li {
    background-color: #0075a2;
    color: #F6F7EB;
    text-shadow: 1px 1px 2px #0c0c0c;
    list-style: none;
    letter-spacing: 1.2px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    transition: all .5s;
}

.answer-list li:hover {
    cursor: pointer;
    background-color: #7cc4e0;
}

@media (max-width: 768px){
    main{
        max-width: 90vw;
    }
}