body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;;
    background-color: #F6F7EB;
    color: #0c0c0c;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #654236;
    color: #F6F7EB;
    text-shadow: 1px 1px 1px #0c0c0c;
}

a {
    text-decoration: none;
    color: #F6F7EB;
    text-shadow: 1px 1px 1px #0c0c0c;
    transition: all .25s ease-in-out;
}

a:hover {
    color: #104547;
    font-style: italic;
}

main {
    width: 760px;
    height: 60vh;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid #654236;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #654236;
    background-color: rgb(242, 242, 242);
}

.answer-list {
   padding-inline-start: 0; 
}

button {
    border: none;
    font-size: 1.2rem;
}

.answer-list li, button, .orange-btn {
    background-color: #104547;
    color: #F6F7EB;
    text-shadow: 1px 1px 2px #0c0c0c;
    list-style: none;
    letter-spacing: 1.2px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    transition: all .5s;
}

.answer-list li:hover, button:hover{
    cursor: pointer;
    background-color: #217e82;
}

button:hover {
    scale: 1.1;
}

#scores-section ul {
    list-style: none;
    padding-inline-start: 0;
}

#scores-section ul li {
    border-radius: 12px;
    margin-bottom: 5px;
}

#scores-section ul li:nth-of-type(odd){
    background-color: #104547;
    color: #F6F7EB;
}

#scores-section ul li:nth-of-type(even){
    background-color: #217e82;
    color: #F6F7EB;
}

.orange-btn {
    background-color: #104547;
}

.orange-btn:hover {
    background-color: #217e82;
}

@media (max-width: 768px){
    main{
        max-width: 90vw;
    }
}